APP_NAME=Jabuti Users API
APP_VERSION=0.2.0
ENVIRONMENT=development
DEBUG=true
API_PREFIX=/api/v1
LOG_LEVEL=INFO
HOST=0.0.0.0
PORT=8000
RUN_MIGRATIONS_ON_STARTUP=true

POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=jabuti_users
POSTGRES_USER=jabuti
POSTGRES_PASSWORD=jabuti

REDIS_HOST=cache
REDIS_PORT=6379
REDIS_DB=0
REDIS_TTL_SECONDS=120

CORS_ORIGINS=http://localhost:8000,http://localhost:3000,http://localhost:5173
